
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(tomato, orange);


    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    color: white;
    background-color: teal;
    padding: 7px 10px;
    border: none;
}
input{
    padding: 5px 10px;
}

.widget{

    width: 500px;
    height: 400px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.widget ul{
    background: rgb(229, 255, 228);
    padding: 0px;
    padding: 20px;
}
.widget li{
    list-style: none;
    padding: 3px 0px; 
 
}
.widget ul span{
    color: teal;
    font-weight: bold;
}